!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@user.email}さまが生成した文書
    %p
      添付のファイルは，ご登録頂いた雛形を元に生成した文書です．
    %p
      #{@url}.
