/* http://colorschemedesigner.com/#0J324eTTxj-O9 */
$primary:     #FFCD88;
$secondary-a: #A08CED;
$secondary-b: #81F099;
/* end */

@mixin flash {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
    @include flash;
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_alert {
    @include flash;
    background-color: #FCC;
    border: solid 1px #C66;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/* ---------------------------------------------------------------------- */
$width: 600px;

@mixin fonts {
  font-family:'Meiryo','Hiragino Kaku Gothic Pro',
              'メイリオ','ヒラギノ角ゴ Pro W3',
	      'ＭＳ Ｐゴシック','sans-serif';
}

body {
    @include fonts;  
    color: black;
    background-color: lighten($primary, 15%);
    font-size: 13px;
    width: $width;
    a {
	color: $secondary-a;
	&:hover {
	    background-color: $secondary-b;
	}
    }
    header {
	nav {
	    ul {
		list-style: none;
		margin: 0 0 2em;
		padding: 0;
		li {
		    display: inline;
		}
	    }
	}
    }
    article {
	h1 {
	    background: $primary;
	    line-height: 30px;
	}
	table {
	    width: $width;
	    th {
		color: darken($secondary-a, 20%);
		background: $secondary-b;
	    }
	    td {
		color: black;
		background: lighten($secondary-b, 20%);
		&.group {
		    height: 8px;
		    background: $secondary-a;
		}
	    }
	}
	form {
	    div {
		&.field, &.actions {
		    margin-bottom: 10px;
		}
	    }
	}
    }
}
